.classpath
.project
.settings/
.idea/
*.iml
logs/
soop-parent/
soop-parent/logs
soop-parent/.idea
soop-parent/.idea
soop-parent/*.iml
soop-parent/*.classpath
soop-parent/.settings
soop-parent/*.project
soop-parent/*/.settings
soop-parent/*/*.classpath
soop-parent/*/target
soop-parent/*/.idea/
soop-parent/*/*.iml
soop-parent/*/.settings
soop-parent/*/.project